    .conversation {
        padding: 0px 0px 0px 5px;
        background: #A2A2A2;
        color: #000;
        border-radius: 3px;
        min-width: 20px;
        width: 20px;
        height: 20px;
        line-height: 1.1;
}