@import '_variables.scss';

.font-size-4 {
    font-size: $size-4;
}
.font-size-6 {
    font-size: $size-6;
}
.font-size-8 {
    font-size: $size-8;
}
.font-size-9 {
    font-size: $size-9;
}
.font-size-10 {
    font-size: $size-10;
}
.font-size-11 {
    font-size: $size-11;
}
.font-size-12 {
    font-size: $size-12;
}
.font-size-13 {
    font-size: $size-13;
}
.font-size-14 {
    font-size: $size-14;
}
.font-size-15 {
    font-size: $size-15;
}
.font-size-16 {
    font-size: $size-16;
}
.font-size-18 {
    font-size: $size-18;
}
.font-size-19 {
    font-size: $size-19;
}
.font-size-20 {
    font-size: $size-20;
}
.font-size-22 {
    font-size: $size-22;
}
.font-size-24 {
    font-size:$size-24;
}
.font-size-25 {
    font-size:$size-25;
}
.font-size-26 {
    font-size: $size-26;
}
.font-size-27 {
    font-size: $size-27;
}
.font-size-28 {
    font-size: $size-28;
}
.font-size-30 {
    font-size: $size-30;
}
.font-size-32 {
    font-size: $size-32;
}
.font-size-34 {
    font-size: $size-34;
}
.font-size-36 {
    font-size: $size-36;
}
.font-size-38 {
    font-size: $size-38;
}
.font-size-40 {
    font-size: $size-40;
}
.font-size-42 {
    font-size: $size-42;
}
.font-size-44 {
    font-size: $size-44;
}
.font-size-48 {
    font-size: $size-48;
}
.font-size-50 {
    font-size: $size-50;
}
.font-size-60 {
    font-size: $size-60;
}
.font-size-64 {
    font-size: $size-64;
}
.font-size-65 {
    font-size: $size-65;
}
.font-size-81 {
    font-size: $size-81;
}
.font-size-86 {
    font-size: $size-86;
}
.font-size-92 {
    font-size: $size-92;
}

.font-size-96{
    font-size: $size-96;
}
//weights
.font-light {
    font-weight: $light;
}
.font-normal {
    font-weight: $normal;
}

.font-regular {
    font-weight: $regular;
}
.font-medium {
    font-weight: $medium;
}
.font-bold {
    font-weight: $bold;
}
.font-boldest {
    font-weight: $boldest;
}


//font family
.roboto-regular {
    font-family: $font-family-roboto;
}
.Rokkitt {
    font-family: $font-family-rokkitt;
}
.MPLUS2 {
font-family: $MPLUS2;
}
.Nunito {
    font-family: $Nunito;
}
.LibreBaskerville {
    font-family: $LibreBaskerville;
}
.DMSans {
    font-family: $DMSans;
}
.QuattrocentoSans {
    font-family: $QuattrocentoSans;
}
.rockwell {
    font-family: $font-family-rockwell;
}
.poppins{
    font-family: $font-family-poppins;
}
.open-sans{
    font-family: $font-family-open-sans;
}
.cairo {
    font-family: $font-family-cairo
}
.inter {
    font-family: $font-family-inter
}

.gilroy-bold {
    font-family:  $font-family-gilroy
}
.gilroy-regular {
    font-family:  $font-family-gilroy-regular
}
.gilroy-light {
    font-family: $font-family-gilroy-light
}

